/* -------------------------------------------- */
/* --------------- BASIC SETUP ---------------- */
/* -------------------------------------------- */

/* ---------------- VARIABLES ----------------- */
:root {
    $color-gold: #daa520;
    $insane-width: 0px;
    //$carousel-height: 512px;
}

/* ----------------- GENERAL ------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.row {
    max-width: 1900px;
}


/* -------------------------------------------- */
/* ----------- REUSABLE COMPONENTS ------------ */
/* -------------------------------------------- */
.post-left {
    padding-left: 0;
}

.post-right {
    padding-right: 0;
}

.btn-center {
    
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------- */
/* ----------------- HEADER ------------------- */
/* -------------------------------------------- */
header {
    max-width: 1900px;
    height: 100%;
    z-index: -1;
    h1 {
        font-family: 'Source Code Pro', 'Arial', monospace;
        font-size: 3000%;
        // top: -100px;
        margin: 0;
        position: absolute;
        color: rgba(255, 171, 0, 0.26);
    }
    
    .sliding-insane {
        h1 {
            top: -130px;
            left: 100%;
        }
    }

    .sliding-luxury {
        // Napis LUXURY opada ze scrollem na dół, przy końcu sekcji opacity=0 i pojawia się ciemno-złoty w miejscu logo          
            h1 {
                left: 100%;
            }
            &:after {}
    }
}


/* -------------------------------------------- */
/* --------------- NAVIGATION ----------------- */
/* -------------------------------------------- */
.main-nav {
    z-index: 1;

    li a:link,
    li a:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 100%;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.25s;
    }
    
    li a:hover,
    li a:active {
        border-bottom: 1px solid #ffab00;
    }
    
    .brand-logo {
        text-align: center;
        font-family: 'Petit Formal Script', cursive;

        .moveLeft{
            position: absolute;
        }

        .logo-uxury {
            position: absolute;
            left: 41.015px;
            opacity: 0;
        }

        img {
            height: 64px;
        }
    }
    
    form {
        height: 64px;
    }
}

/*** COLORS ***/
$bg-color: #913D88;
$txt-color: #FFFFFF;
$icn-color: #FFFFFF;

/*** DEMO ***/
// html,body{height:100%;margin:0;}body{background:$bg-color;font:13px monospace;color:$txt-color}p{margin-top:30px}.cntr{display:table;width:100%;height:100%;.cntr-innr{display:table-cell;text-align:center;vertical-align:middle}}

/*** STYLES ***/

.cntr {
    display: table;
    width: 100%;
    height: 100%;

    .cntr-innr {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

.search {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 0px 8px 7px 0px;
    padding: 7px 9px 0px 9px;
    border: 3px solid $icn-color;
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
    
    // &:after {
    //     content: "";
    //     position: absolute;
    //     width: 3px;
    //     height: 20px;
    //     right: -5px;
    //     top: 21px;
    //     background: $icn-color;
    //     border-radius: 3px;
    //     transform: rotate(-45deg);
    //     transition: all 200ms ease;
    // }
    
    &.active,
    &:hover {
        width: 200px;
        margin-right: 0px;
        
        &:after {
            height: 0px;    
        }
    }
    
    input {
        width: 100%;
        border: none;
        box-sizing: border-box;
        font-family: Helvetica;
        font-size: 15px;
        color: inherit;
        background: transparent;
        outline-width: 0px;
    }
}

.expand {
    z-index: 1;
    background-color: rgba(16, 16, 16, 0.77);
    font-size: 90%;
    transition: background-color 1s, font-size 1s;
}

.on-scroll-logo {
    z-index: 1;
    font-size: 10%;
    transition: font-size 1s;
}

.sticky {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}



.logo-I {
    margin-left: -22px;
    color: #fff;
}

.logo-N1, .logo-S, .logo-A, .logo-N2, .logo-E {
    opacity: 0;
}

.fade-in {
    color: #ffab00;
    opacity: 1;
    transition: opacity 3s;
}

.first-screen {
    // background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.8)), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
    background-color: rgb(0, 0, 0);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    

//    overflow:hidden;
    
    .sliding {
        height: 100%;
        z-index: -1;
        border: 5px solid red;
        h1 {
                font-family: 'Source Code Pro', 'Arial', monospace;
                font-size: 3000%;
                // top: -100px;
                margin: 0;
                position: absolute;
                color: rgba(255, 171, 0, 0.26);
        }
        
        .sliding-insane {
            h1 {
                top: -130px;
                left: 100%;
            }
        }

        .sliding-luxury {
// Napis LUXURY opada ze scrollem na dół, przy końcu sekcji opacity=0 i pojawia się ciemno-złoty w miejscu logo          
            h1 {
                left: 100%;
            }
            &:after {}
        }
    }
}

nav {
    // height: 100%;
    top: auto;
    bottom: auto;
    position: absolute;
}

.vcenter-parent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// ZOPTYMALIZOWAC
.celeb-photo {
    img {
        width: 420px;
        display: block;
        margin: 0 auto 10px auto;
        border: solid black;
        transform: scale(1);
        transition: transform 0.5s, opacity 0.5s;
    }
    
    img:hover {
        opacity: 0.7;
        transform: scale(1);
    }
}

.carousel-item {
    img {
        display: block;
        margin: 0 auto 10px auto;
        border: solid black;
        
        transform: scale(1);
        transition: transform 0.5s, opacity 0.5s;
    }
    
    img:hover {
        transform: scale(1.05);
    }
}

.card-panel-bg {
    background-color: #070707;
}

ion-icon {
    margin: 7px 0 -15px 0;
    font-size: 40px;
}
