/* -------------------------------------------- */
/* --------------- BASIC SETUP ---------------- */
/* -------------------------------------------- */

/* ---------------- VARIABLES ----------------- */
:root {
    $color-gold: #daa520;
    $insane-width: 0px;
    //$carousel-height: 512px;
}

/* ----------------- GENERAL ------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.row {
    max-width: 1900px;
}




/* -------------------------------------------- */
/* ----------- REUSABLE COMPONENTS ------------ */
/* -------------------------------------------- */

.post-left {
    padding-left: 0;
}

.post-right {
    padding-right: 0;
}

.btn-center {
    
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------- */
/* ----------------- HEADER ------------------- */
/* -------------------------------------------- */

/*
.nav-bg-gradient {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 22%, rgba(75,75,75,0) 102%, rgba(0, 0, 0, 1) 100%);
}*/


.main-nav {
    li a:link,
    li a:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 100%;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.25s;
    }
    
    li a:hover,
    li a:active {
        border-bottom: 1px solid #ffab00;
    }
    
    .brand-logo {
            font-family: 'Petit Formal Script', cursive;
//            font-weight: 100;
    }
}

.expand {
    z-index: 1;
    background-color: black;
    transition: background-color 0.25s;
}

//.navbar {
//    top: 0;
//    position: fixed;
//    transition: top 0.5s;
//}
// .sticky {
//    position: fixed;
//    top: 0;
//    left: 0;
//    width: 100%;
//    background-color: rgba(255, 255, 255, 0.98);
//    box-shadow: 0 2px 2px #efefef;
//    z-index: 9999;
//}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

//.brand-logo {
//    font-weight: 100;
//}

.sliding {
    font-family: 'Source Code Pro', 'Arial', monospace;
}
.logo-I {
    opacity: 1;
    color: #fff;
}
.logo-N1, .logo-S, .logo-A, .logo-N2, .logo-E {
    opacity: 0;
//    -webkit-transition: opacity 3s;
//    transition: opacity 3s;
}

.fade-in {
    color: #ffab00;
    opacity: 1;
//    Fix transition - doesn't work
//    transition: opacity 3s;
}

header {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.8)), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
//    overflow:hidden;

    #sliding-insane {     
        h1 {
            z-index: -1;
            top: -100px;
            margin: 0;
            left: 50px;
            position: absolute;
            font-size: 4000%;
            color: rgba(255, 171, 0, 0.26);
        }
    }
    
    #sliding-luxury {
// Napis LUXURY opada ze scrollem na dół, przy końcu sekcji opacity=0 i pojawia się ciemno-złoty w miejscu logo
        h1 {
            z-index: 0;
            top: -100px;
            margin: 0;
            left: 100%;
            position: absolute;
            font-size: 4000%;
            color: rgba(255, 171, 0, 0.26);
        }
        
        &:after {
            
        }
    }
}

// ZOPTYMALIZOWAC
.celeb-photo {
    img {
        width: 420px;
        display: block;
        margin: 0 auto 10px auto;
        border: solid black;
        transform: scale(1);
        transition: transform 0.5s, opacity 0.5s;
    }
    
    img:hover {
        opacity: 0.7;
        transform: scale(1);
    }
}

.carousel-item {
    img {
        display: block;
        margin: 0 auto 10px auto;
        border: solid black;
        
        transform: scale(1);
        transition: transform 0.5s, opacity 0.5s;
    }
    
    img:hover {
        transform: scale(1.05);
    }
}

.card-panel-bg {
    background-color: #070707;
}

ion-icon {
    margin: 7px 0 -15px 0;
    font-size: 40px;
}
