/* -------------------------------------------- */
/* --------------- BASIC SETUP ---------------- */
/* -------------------------------------------- */

/* ---------------- VARIABLES ----------------- */

$color-gold: #daa520;
$carousel-height: 512px;

/* ----------------- GENERAL ------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.row {
    max-width: 1900px;
}

/* ---------------- KEYFRAMES ----------------- */

@keyframes slidein-insane {

    0% {
        transform: translateX(100%); 
    }
    99% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes slidein-luxury {

    0% {
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

/* -------------------------------------------- */
/* ----------- REUSABLE COMPONENTS ------------ */
/* -------------------------------------------- */

.post-left {
    padding-left: 0;
}

.post-right {
    padding-right: 0;
}

.btn-center {
    
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------- */
/* ----------------- HEADER ------------------- */
/* -------------------------------------------- */

/*
.nav-bg-gradient {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 22%, rgba(75,75,75,0) 102%, rgba(0, 0, 0, 1) 100%);
}*/

.main-nav {
    li a:link,
    li a:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 100%;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.25s;
    }
    
    li a:hover,
    li a:active {
        border-bottom: 1px solid #ffab00;
    }
}

.brand-logo {
    font-weight: 100;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    overflow:hidden;

    .sliding-insane {
        animation-duration: 10s;
        animation-name: slidein-insane;
        animation-iteration-count: 1;
        margin-left: -94%;
        
        h1 {
            position: relative;
            top: 150px;
            font-size: 3000%;
            color: rgba(255, 171, 0, 0.26);
        }
    }
    
    .sliding-luxury {
// Napis LUXURY opada ze scrollem na dół, przy końcu sekcji opacity=0 i pojawia się ciemno-złoty w miejscu logo
        animation-duration: 40s;
        animation-name: slidein-luxury;
        animation-iteration-count: infinite;
        margin-left: 0%;
        
        h1 {
            position: relative;
            bottom: 600px;
            font-size: 3000%;
            color: rgba(255, 171, 0, 0.15);
        }
        
        &:after {
            
        }
    }
}

//.header-bg {
//    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8)), url(img/header-background.jpg);
//    background-size: cover;
//    background-position: top;
//    background-attachment: fixed;
//    height: 100%;
//    width: 80%;
//}

// ZOPTYMALIZOWAC
.celeb-photo {
    img {
        width: 420px;
        display: block;
        margin: 0 auto 10px auto;
        border: solid black;
        
        transform: scale(1);
        transition: transform 0.5s, opacity 0.5s;
    }
    
    img:hover {
        opacity: 0.7;
        transform: scale(1);
    }
}

.carousel-item {
    img {
        display: block;
        margin: 0 auto 10px auto;
        border: solid black;
        
        transform: scale(1);
        transition: transform 0.5s, opacity 0.5s;
    }
    
    img:hover {
        transform: scale(1.05);
    }
}

.card-panel-bg {
    background-color: #070707;
}

ion-icon {
    margin: 7px 0 -15px 0;
    font-size: 40px;
}
