/* -------------------------------------------- */
/* --------------- BASIC SETUP ---------------- */
/* -------------------------------------------- */
/* ---------------- VARIABLES ----------------- */
/* ----------------- GENERAL ------------------ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', 'Arial', sans-serif; }

.row {
  max-width: 1900px; }

/* ---------------- KEYFRAMES ----------------- */
@-webkit-keyframes slidein-insane {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-210%);
    transform: translateX(-210%); } }
@keyframes slidein-insane {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-210%);
    transform: translateX(-210%); } }

@-webkit-keyframes slidein-luxury {
  0% {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-115%);
    transform: translateX(-115%); } }

@keyframes slidein-luxury {
  0% {
    opacity: 1;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-115%);
    transform: translateX(-115%); } }

/* -------------------------------------------- */
/* ----------- REUSABLE COMPONENTS ------------ */
/* -------------------------------------------- */
.post-left {
  padding-left: 0; }

.post-right {
  padding-right: 0; }

.btn-center {
  margin-left: auto;
  margin-right: auto; }

/* -------------------------------------------- */
/* ----------------- HEADER ------------------- */
/* -------------------------------------------- */
/*
.nav-bg-gradient {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 22%, rgba(75,75,75,0) 102%, rgba(0, 0, 0, 1) 100%);
}*/
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.25s;
  -o-transition: border-bottom 0.25s;
  transition: border-bottom 0.25s; }

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1px solid #ffab00; }

.brand-logo {
  font-weight: 100; }

.sliding {
  font-family: 'Source Code Pro', 'Arial', monospace; }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.8))), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
  background-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0.8)), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
  background-image: -o-linear-gradient(black, rgba(0, 0, 0, 0.8)), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.8)), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
  height: 100vh;
  background-size: cover;
  overflow: hidden; }
  header #sliding-insane {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 18s;
    animation-duration: 18s;
    -webkit-animation-name: slidein-insane;
    animation-name: slidein-insane;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap; }
    header #sliding-insane h1 {
      margin-left: 50px;
      position: absolute;
      font-size: 4000%;
      color: rgba(255, 171, 0, 0.26); }
  header #sliding-luxury {
    opacity: 0;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 60s;
    animation-duration: 60s;
    -webkit-animation-name: slidein-luxury;
    animation-name: slidein-luxury;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-font-smoothing: antialiased;
    margin-left: 0; }
    header #sliding-luxury h1 {
      margin-top: 0;
      position: absolute;
      font-size: 4000%;
      color: rgba(255, 171, 0, 0.15); }

.celeb-photo img {
  width: 420px;
  display: block;
  margin: 0 auto 10px auto;
  border: solid black;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

.celeb-photo img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.carousel-item img {
  display: block;
  margin: 0 auto 10px auto;
  border: solid black;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

.carousel-item img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.card-panel-bg {
  background-color: #070707; }

ion-icon {
  margin: 7px 0 -15px 0;
  font-size: 40px; }
