/* -------------------------------------------- */
/* --------------- BASIC SETUP ---------------- */
/* -------------------------------------------- */
/* ---------------- VARIABLES ----------------- */
/* ----------------- GENERAL ------------------ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', 'Arial', sans-serif; }

.row {
  max-width: 1900px; }

/* -------------------------------------------- */
/* ----------- REUSABLE COMPONENTS ------------ */
/* -------------------------------------------- */
.post-left {
  padding-left: 0; }

.post-right {
  padding-right: 0; }

.btn-center {
  margin-left: auto;
  margin-right: auto; }

/* -------------------------------------------- */
/* ----------------- HEADER ------------------- */
/* -------------------------------------------- */
/*
.nav-bg-gradient {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 22%, rgba(75,75,75,0) 102%, rgba(0, 0, 0, 1) 100%);
}*/
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.25s;
  -o-transition: border-bottom 0.25s;
  transition: border-bottom 0.25s; }

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1px solid #ffab00; }

.expand {
  z-index: 1;
  background-color: black;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.brand-logo {
  font-weight: 100; }

.sliding {
  font-family: 'Source Code Pro', 'Arial', monospace; }

#logo-I, #logo-N1, #logo-S, #logo-A, #logo-N2, #logo-E {
  opacity: 0;
  -webkit-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s; }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.8))), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
  background-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0.8)), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
  background-image: -o-linear-gradient(black, rgba(0, 0, 0, 0.8)), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.8)), url(https://timedotcom.files.wordpress.com/2014/11/henry-graves-watch.jpg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  header #sliding-insane h1 {
    z-index: -1;
    top: -100px;
    margin: 0;
    left: 50px;
    position: absolute;
    font-size: 4000%;
    color: rgba(255, 171, 0, 0.26); }
  header #sliding-luxury h1 {
    z-index: 0;
    top: -100px;
    margin: 0;
    left: 100%;
    position: absolute;
    font-size: 4000%;
    color: rgba(255, 171, 0, 0.26); }

.celeb-photo img {
  width: 420px;
  display: block;
  margin: 0 auto 10px auto;
  border: solid black;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

.celeb-photo img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.carousel-item img {
  display: block;
  margin: 0 auto 10px auto;
  border: solid black;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

.carousel-item img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.card-panel-bg {
  background-color: #070707; }

ion-icon {
  margin: 7px 0 -15px 0;
  font-size: 40px; }
