/* -------------------------------------------- */
/* --------------- BASIC SETUP ---------------- */
/* -------------------------------------------- */
/* ---------------- VARIABLES ----------------- */
/* ----------------- GENERAL ------------------ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', 'Arial', sans-serif; }

.row {
  max-width: 1900px; }

/* -------------------------------------------- */
/* ----------- REUSABLE COMPONENTS ------------ */
/* -------------------------------------------- */
.post-left {
  padding-left: 0; }

.post-right {
  padding-right: 0; }

.btn-center {
  margin-left: auto;
  margin-right: auto; }

/* -------------------------------------------- */
/* ----------------- HEADER ------------------- */
/* -------------------------------------------- */
header {
  max-width: 1900px;
  height: 100%;
  z-index: -1; }
  header h1 {
    font-family: 'Source Code Pro', 'Arial', monospace;
    font-size: 3000%;
    margin: 0;
    position: absolute;
    color: rgba(255, 171, 0, 0.26); }
  header .sliding-insane h1 {
    top: -130px;
    left: 100%; }
  header .sliding-luxury h1 {
    left: 100%; }

/* -------------------------------------------- */
/* --------------- NAVIGATION ----------------- */
/* -------------------------------------------- */
.main-nav {
  z-index: 1; }
  .main-nav li a:link,
  .main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.25s;
    -o-transition: border-bottom 0.25s;
    transition: border-bottom 0.25s; }
  .main-nav li a:hover,
  .main-nav li a:active {
    border-bottom: 1px solid #ffab00; }
  .main-nav .brand-logo {
    text-align: center;
    font-family: 'Petit Formal Script', cursive; }
    .main-nav .brand-logo .moveLeft {
      position: absolute; }
    .main-nav .brand-logo .logo-uxury {
      position: absolute;
      left: 41.015px;
      opacity: 0; }
    .main-nav .brand-logo img {
      height: 64px; }
  .main-nav form {
    height: 64px; }

.expand {
  z-index: 1;
  background-color: rgba(16, 16, 16, 0.77);
  font-size: 90%;
  -webkit-transition: background-color 1s, font-size 1s;
  -o-transition: background-color 1s, font-size 1s;
  transition: background-color 1s, font-size 1s; }

.on-scroll-logo {
  z-index: 1;
  font-size: 10%;
  -webkit-transition: font-size 1s;
  -o-transition: font-size 1s;
  transition: font-size 1s; }

.sticky {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%; }

.logo-I {
  margin-left: -22px;
  color: #fff; }

.logo-N1, .logo-S, .logo-A, .logo-N2, .logo-E {
  opacity: 0; }

.fade-in {
  color: #ffab00;
  opacity: 1;
  -webkit-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s; }

.first-screen {
  background-color: black;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed; }
  .first-screen .sliding {
    height: 100%;
    z-index: -1;
    border: 5px solid red; }
    .first-screen .sliding h1 {
      font-family: 'Source Code Pro', 'Arial', monospace;
      font-size: 3000%;
      margin: 0;
      position: absolute;
      color: rgba(255, 171, 0, 0.26); }
    .first-screen .sliding .sliding-insane h1 {
      top: -130px;
      left: 100%; }
    .first-screen .sliding .sliding-luxury h1 {
      left: 100%; }

nav {
  top: auto;
  bottom: auto;
  position: absolute; }

.vcenter-parent {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.celeb-photo img {
  width: 420px;
  display: block;
  margin: 0 auto 10px auto;
  border: solid black;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

.celeb-photo img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.carousel-item img {
  display: block;
  margin: 0 auto 10px auto;
  border: solid black;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

.carousel-item img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.card-panel-bg {
  background-color: #070707; }

ion-icon {
  margin: 7px 0 -15px 0;
  font-size: 40px; }
